.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  min-width: 200px;
  height: 50px;

  border-radius: 4px;
  border-color: transparent;

  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;

  background-color: var(--accent-color);
  color: var(--bg-primary-color);

  transition: background-color var(--animation-dur) var(--animation-type),
    color var(--animation-dur) var(--animation-type);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--bg-primary-color);
    outline: none;

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;

    cursor: pointer;
  }
}

.subscribe-btn {
  @extend %btn;

  position: relative;
  padding: 10px 60px 10px 28px;
}

.subscribe-btn__icon {
  position: absolute;
  right: 28px;
}
