.contact-nav {
  @media screen and(max-width: 767px) {
    display: none;
  }
  @media screen and(min-width: 768px) {
    display: block;
    margin: 0;
    padding: 0;
  }

  @media screen and(min-width: 1200px) {
    display: flex;
    align-items: center;

    margin-left: auto;
  }
}

.contact-nav__item {
  &:first-child {
    margin-bottom: 0;
  }
}

.contact-nav__link {
  @extend %link;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;

  color: var(--text--color);
  transition: color var(--animation-dur) var(--animation-type);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  @media screen and(min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }

  @media screen and(min-width: 1200px) {
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
  }
}

.contact-nav__icon {
  margin-right: 10px;
  fill: currentColor;
}

.contact-nav__item {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;

    @media screen and(min-width: 1200px) {
      margin-left: 30px;
      margin-bottom: 0px;
    }
  }
}
