.logo {
  @extend %link;
  @extend %logo;

  display: inline-block;
  padding-bottom: 17px;
  padding-top: 17px;

  font-size: 24px;
  line-height: 1.077;

  @media screen and(min-width: 768px) {
    padding-bottom: 26px;
    padding-top: 26px;
  }
}

.logo__subtext {
  color: var(--accent-color);
}
