.logo {
  @extend %link;

  display: flex;

  align-items: center;

  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--logo-color);
  font-family: 'Raleway', sans-serif;

  &--right {
    margin-right: 94px;
  }
}

.logo__subtext {
  color: var(--accent-color);
}
