.member-thumb__content {
  margin: 0;
  padding: 30px 32px;
  align-items: center;
}

.member-thumb__name {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  text-align: center;

  color: var(--title-link-color);
}

.member-thumb__pos {
  margin: 0 0 16px;

  text-align: center;
  font-size: 16px;
  line-height: 1.2;
}
