.team {
  background-color: var(--bg-section-color);

  @media screen and(max-width: 1199px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media screen and(min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__title {
  margin-bottom: 30px;

  font-weight: bold;
  font-size: 28px;
  line-height: 1.179;

  text-align: center;

  @media screen and(min-width: 1200px) {
    margin-bottom: 48px;

    font-weight: bold;
    font-size: 36px;
    line-height: 1.167;
  }
}
