.menu-socials {
  padding: 0;
  margin: 0;

  display: flex;
}

.menu-socials__item:not(:last-child) {
  margin-right: 10px;

  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.menu-socials__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.222;
  letter-spacing: 0.02em;

  text-decoration: none;

  color: var(--accent-color);

  padding-right: 10px;
}
