.filters {
  @extend %items;
  margin-bottom: 40px;

  @media screen and(min-width: 480px) {
    display: flex;
    flex-wrap: wrap;
    grid-row-gap: 15px;
    justify-content: flex-start;
  }

  @media screen and(min-width: 768px) {
    justify-content: center;
    margin-bottom: 30px;
  }

  @media screen and(min-width: 1200px) {
    margin-bottom: 50px;
  }
}

.filters__item {
  margin-right: 8px;

  &--last {
    margin-right: 0;
  }
}

.filters-btn {
  @extend %btn;

  height: 40px;
  padding: 6px 22px;
  min-width: min-content;

  font-weight: 500;
  line-height: 1.6;

  color: var(--title-link-color);
  background-color: var(--bg-section-color);
}
