.link {
  @extend %link;
}

.portfolio-thumb {
  position: relative;

  overflow: hidden;
}

.portfolio-thumb__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  margin: 0;
  padding-left: 30px;
  padding-right: 18px;
  align-items: center;

  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;

  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;

  transform: translatey(101%);
  transition: transform var(--animation-dur) var(--animation-type);

  .portfolio-list__item:hover & {
    transform: translatey(0);
  }
}

.portfolio-thumb__dsc {
  padding: 20px 24px;
  border-right: 1px solid var(--filter-unit);
  border-bottom: 1px solid var(--filter-unit);
  border-left: 1px solid var(--filter-unit);
}

.portfolio-thumb__title {
  margin-top: 0;
  margin-bottom: 4px;

  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  text-align: start;

  letter-spacing: 0.06em;

  color: var(--title-link-color);
}

.portfolio-thumb__filter {
  margin: 0;

  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.875;

  letter-spacing: 0.03em;

  color: var(--text--color);
}
