.consumer-list {
  display: flex;
  flex-wrap: wrap;

  grid-row-gap: 30px;

  margin-top: 0;
  margin-bottom: 0;
  padding: 0;

  margin-left: -30px;
}

.consumer-list__item {
  margin-left: 30px;
  flex-basis: calc((100% - 60px) / 2);

  @media screen and(min-width: 768px) {
    flex-basis: calc((100% - 90px) / 3);
  }

  @media screen and(min-width: 1200px) {
    flex-basis: calc((100% - 180px) / 6);
  }
}

.consumer-list__link {
  @extend %link;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 90px;

  border: 1px solid var(--consumer-border);
  box-sizing: border-box;
  border-radius: 4px;

  color: var(--consumer-border);

  transition: border var(--animation-dur) var(--animation-type),
    color var(--animation-dur) var(--animation-type);

  &:hover,
  &:focus,
  &:active {
    color: var(--accent-color);
    border-color: var(--accent-color);
  }
}

.consumer-list__icon {
  fill: currentColor;
}
