.consumer-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin-bottom: -30px;
  margin-left: -30px;

  margin-top: 0;
  padding: 0;
}

.consumer-list__item {
  margin-bottom: 30px;
  margin-left: 30px;

  @media screen and(min-width: 480px) {
    flex-basis: calc((100% - 60px) / 2);
  }

  @media screen and(max-width: 1199px) {
    flex-basis: calc((100% - 90px) / 3);
  }

  @media screen and(min-width: 1200px) {
    flex-basis: calc((100% - 180px) / 6);
  }
}

.consumer-list__link {
  @extend %link;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid var(--consumer-border);
  box-sizing: border-box;
  border-radius: 4px;

  color: var(--consumer-border);

  transition: border var(--animation-dur) var(--animation-type),
    color var(--animation-dur) var(--animation-type);

  &:hover,
  &:focus,
  &active {
    color: var(--accent-color);
    border-color: var(--accent-color);
  }

  @media screen and(min-width: 480px) {
    width: 210px;
    height: 90px;
  }

  @media screen and(min-width: 1200px) {
    width: 170px;
    height: 90px;
    padding: 0;
    margin: 0;
  }
}

.consumer-list__icon {
  fill: currentColor;
}
