.hero__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
 
  letter-spacing: 0.06em;

  @media screen and(min-width: 1200px) {
    padding-top: 190px;
    padding-bottom: 203px;
  }
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--bg-primary-color);

  @media screen and(min-width: 1200px) {
    // max-width: 1200px;
    margin: 0 auto 30px;

    font-size: 44px;
    line-height: 1.364;
  }
}

.hero-btn {
  @extend %btn;
}
